
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_myTemplate.cshtml";
}

<div class="welcome">
   
    <div class="container">
        <div class="welcome-info">
            <h3>Welcome</h3>
            <h4>To the biggest League Of Legends community made by gamers to gamers .</h4>
            <p>This website makes it easy to keep up with the latest league of legends updates. 
            We are making our best to help the players to improve their game-play and skills. All what a gamer need is available in our community.</p>
        </div>
    </div>
</div>
<!-------->
<div class="content">
    <div class="container">
        <div class="col-md-8 content-left">
            <div class="information">
                <h4>Patch 5.22.15 updates</h4>
                <div class="information_grids">
                    <div class="info">
                        <p>Coucou the start of the preseason came a slew of update to both AD carries and Marksman itemization.</p>
                        <a href="about.html">Read more</a>
                    </div>
                    <div class="info-pic">
                        <img src="@Url.Content("~/Content/mytemplate/")images/ps.png" class="img-responsive" alt="" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="games-grids">
                <div class="game-grid-left">
                    <div class="grid1">
                        <h5 class="act"><a href="single.html">Champions</a></h5>
                        <a href="single.html"><img src="@Url.Content("~/Content/mytemplate/")images/c1.jpg" class="img-responsive" alt="" /></a>
                        <div class="grid1-info">
                            <h4><a href="single.html">Champion guides</a></h4>
                            <p>In this section , you will find all the information baout all the game champions , its skins, spells and stories.</p>
                        </div>
                        <div class="more">
                            <a href="single.html">Read more</a>
                        </div>
                    </div>
                    <div class="grid2">
                        <h5 class="race"><a href="single.html">Events</a></h5>
                        <a href="single.html"><img src="@Url.Content("~/Content/mytemplate/")images/c2.png" class="img-responsive" alt="" /></a>
                        <div class="grid1-info">
                            <h4><a href="single.html">League of Legends Events</a></h4>
                            <p>In this section , you will take a look on our events and participate in these ones: tournaments, cosplays ... </p>
                        </div>
                        <div class="more">
                            <a href="single.html">Read more</a>
                        </div>
                    </div>
                </div>

                <div class="game-grid-right">
                    <div class="grid3">
                        <h5 class="sport"><a href="single.html">Rotations</a></h5>
                        <a href="single.html"><img src="@Url.Content("~/Content/mytemplate/")images/c3.jpg" class="img-responsive" alt="" /></a>
                        <div class="grid1-info">
                            <h4><a href="single.html">Free champion rotation</a></h4>
                            <p>Come take a look and see if your favorite champion is free to play this week.</p>
                        </div>
                        <div class="more">
                            <a href="single.html">Read more</a>
                        </div>
                    </div>
                    <div class="grid4">
                        <h5 class="arc"><a href="single.html">News</a></h5>
                        <a href="single.html"><img src="@Url.Content("~/Content/mytemplate/")images/c4.jpg" class="img-responsive" alt="" /></a>
                        <div class="grid1-info">
                            <h4><a href="single.html">New champion selection</a></h4>
                            <p>Click here for stories from the Rioters behind the design of the new champ select system.</p>
                        </div>
                        <div class="more">
                            <a href="single.html">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-4 content-right">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav2" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Events</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Sponsors</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active re-pad2" id="home">
                    <div class="game1">
                        <div class="col-md-3 tab-pic">
                            <a href="single.html"><img src="@Url.Content("~/Content/mytemplate/")images/tr1.jpg" alt="/" class="img-responsive"></a>
                        </div>
                        <div class="col-md-9 tab-pic-info">
                            <h4><a href="single.html">Angry Birds</a></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="game1">
                        <div class="col-md-3 tab-pic">
                            <a href="single.html"><img src="@Url.Content("~/Content/mytemplate/")images/tr3.jpg" alt="/" class="img-responsive"></a>
                        </div>
                        <div class="col-md-9 tab-pic-info">
                            <h4><a href="single.html">Vice City GTA</a></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="game1">
                        <div class="col-md-3 tab-pic">
                            <a href="single.html"><img src="@Url.Content("~/Content/mytemplate/")images/tr2.jpg" alt="/" class="img-responsive"></a>
                        </div>
                        <div class="col-md-9 tab-pic-info">
                            <h4><a href="single.html">Call Of Duty</a></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane re-pad2" id="profile">
                    <div class="game-post">
                        <div class="col-md-3 tab-pic">
                            <a href="single.html"><img src="@Url.Content("~/Content/mytemplate/")images/tr4.jpg" alt="/" class="img-responsive"></a>
                        </div>
                        <div class="col-md-9 tab-post-info">
                            <h4><a href="single.html">IronMan</a></h4>
                            <p>Posted By <a href="#">Admin</a> &nbsp;&nbsp; on June 2, 2015 &nbsp;&nbsp; <a href="#">Comments (10)</a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="game-post">
                        <div class="col-md-3 tab-pic">
                            <a href="single.html"><img src="@Url.Content("~/Content/mytemplate/")images/tr5.jpg" alt="/" class="img-responsive"></a>
                        </div>
                        <div class="col-md-9 tab-post-info">
                            <h4><a href="single.html">God Of War</a></h4>
                            <p>Posted By <a href="#">Admin</a> &nbsp;&nbsp; on June 2, 2015 &nbsp;&nbsp; <a href="#">Comments (10)</a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="game-post">
                        <div class="col-md-3 tab-pic">
                            <a href="single.html"><img src="@Url.Content("~/Content/mytemplate/")images/tr6.jpg" alt="/" class="img-responsive"></a>
                        </div>
                        <div class="col-md-9 tab-post-info">
                            <h4><a href="single.html">Need For Speed</a></h4>
                            <p>Posted By <a href="#">Admin</a> &nbsp;&nbsp; on June 2, 2015 &nbsp;&nbsp; <a href="#">Comments (10)</a></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
        
    </div>
</div>
<div class="category blog-ctgry">
					<h4>Top Games</h4>
					<div class="list-group">
						<a href="#" class="list-group-item">Cras justo odio</a>
						<a href="#" class="list-group-item">Dapibus ac facilisis in</a>
						<a href="#" class="list-group-item">Morbi leo risus</a>
						<a href="#" class="list-group-item">Porta ac consectetur ac</a>
						<a href="#" class="list-group-item">Vestibulum at eros</a>
						<a href="#" class="list-group-item">Quisque elementum </a>
						<a href="#" class="list-group-item">Vestibulum eleifend</a>
						<a href="#" class="list-group-item">Donec sit amet justo </a>
					</div>
			 </div>	
			 <div class="photo-gallery">
				 <h4>Photo Gallery</h4>
				 <div class="gallery-1">
					<div class="col-md-4 gallery-grid-pic">
						<a class="example-image-link" href="images/p2.jpg" data-lightbox="example-set"><img class="example-image" src="@Url.Content("~/Content/mytemplate/")images/p2.jpg" alt=""/></a>
					</div>
					<div class="col-md-4 gallery-grid-pic">
						<a class="example-image-link" href="images/p1.jpg" data-lightbox="example-set"><img class="example-image" src="@Url.Content("~/Content/mytemplate/")images/p1.jpg" alt=""/></a>
					</div>
					<div class="col-md-4 gallery-grid-pic">
						<a class="example-image-link" href="images/p3.jpg" data-lightbox="example-set"><img class="example-image" src="@Url.Content("~/Content/mytemplate/")images/p3.jpg" alt=""/></a>
					</div>
					<div class="clearfix"></div>
				 </div>
				 <div class="gallery-1">
					<div class="col-md-4 gallery-grid-pic">
						<a class="example-image-link" href="images/p4.jpg" data-lightbox="example-set"><img class="example-image" src="@Url.Content("~/Content/mytemplate/")images/p4.jpg" alt=""/></a>
					</div>
					<div class="col-md-4 gallery-grid-pic">
						<a class="example-image-link" href="images/p5.jpg" data-lightbox="example-set"><img class="example-image" src="@Url.Content("~/Content/mytemplate/")images/p5.jpg" alt=""/></a>
					</div>
					<div class="col-md-4 gallery-grid-pic">
						<a class="example-image-link" href="images/p6.jpg" data-lightbox="example-set"><img class="example-image" src="@Url.Content("~/Content/mytemplate/")images/p6.jpg" alt=""/></a>
					</div>
					<div class="clearfix"></div>
				 </div>
				 <div class="gallery-1">
					<div class="col-md-4 gallery-grid-pic">
						<a class="example-image-link" href="images/p1.jpg" data-lightbox="example-set"><img class="example-image" src="@Url.Content("~/Content/mytemplate/")images/p1.jpg" alt=""/></a>
					</div>
					<div class="col-md-4 gallery-grid-pic">
						<a class="example-image-link" href="images/p3.jpg" data-lightbox="example-set"><img class="example-image" src="@Url.Content("~/Content/mytemplate/")images/p3.jpg" alt=""/></a>
					</div>
					<div class="col-md-4 gallery-grid-pic">
						<a class="example-image-link" href="images/p4.jpg" data-lightbox="example-set"><img class="example-image" src="@Url.Content("~/Content/mytemplate/")images/p4.jpg" alt=""/></a>
					</div>
					<div class="clearfix"></div>
				 </div>

			 </div>

		  </div>
		  <div class="clearfix"></div>
	 </div>
</div>
<script src="js/lightbox-plus-jquery.min.js"></script>

